.EducationformInput{
    height: 35px;
    font-size: 16px;
    padding: 5px;
    outline: none;
    border: 1px solid rgb(197, 191, 191);
    border-radius: 5px;
    width: 100%;
}

.EducationForm{
    display: flex;
    flex-direction: column;
    width:100%;
    height:40rem;
    justify-content:space-between;
    padding: 0 30px 30px 30px;
}


