.DocumentFormInput{
    height: 35px;
    font-size: 16px;
    padding: 5px;
    outline: none;
    border: 1px solid rgb(197, 191, 191);
    border-radius: 5px;
    width: 100%;
}

.DocumentForm{
        display: flex;
        flex-direction: column;
        width:100%;
        height:40rem;
        justify-content:space-between;
}

.documentLabel{
    margin:20px 0 0 0 ;
}

.DocumentFormInput{
    margin:5px 0 0 0 ;
    height: 35px;
  font-size: 16px;
  outline: none;
  /* border: 1px solid rgb(197, 191, 191); */
  border-radius: 5px;
  width: 100%;  
}