.searchBar{
    display: flex-end;
    margin-top: 5rem;
    justify-content: end;
    border: 1px solid rgb(167, 165, 165);
    border-radius: 5px;
    padding: 2px;
    margin-left: 1%;
    width: fit-content;
    
}

.searchBar > input {
    height:25px;
    width: 250px;
    padding: 15px;
    outline: none;
    border: none;
}

.searchIcon{
    z-index: 0;
    align-self: center;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.allBlogsContainer{
display: flex-end;
margin: 2rem 0;
padding: 0 1rem;
gap:1rem;
}

.category{
  display: flex-end;
  flex-direction: column;
  flex:0.2;
}

.Categories{
  padding: 10px 20px;
  background-color: #e7e7e7;
   margin: 0.1rem;
   border-radius: 8px;
   cursor: pointer;
}





.categoryShower{
  display: flex-end;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 1rem;
}

.categoryTitle{
display: flex-end;
/* justify-content: center; */
font-weight: bold;
}




.allBlogs{
  display: flex-end;
  flex-direction: column;
  flex: 0.8;
}


/* .homeBlogContainer{
    display: flex;
    justify-content: end;
    padding: 0 10px;
    height: 25%;
    width: 100%;
  } */
  
  .allBlogWrapper{
    display: flex-end;
    height: 350px;
    margin-bottom: 0.5rem;
    justify-content: end;
  }
  .allBlogImage{
    flex: 1;
  }
  
  .allblogImage{
      width: 100%;
      height: 100%; 
  }
  .allBlogTextSection{
    display: flex-end;
    flex: 0.5 1;
    flex-direction: column;
    padding: 25px 30px;
    background-color: rgb(224, 165, 82);
  }
  .allVideoTextSection{
    display: flex-end;
    flex: 0.5 1;
    flex-direction: column;
    padding: 25px 30px;
    background-color: rgb(209 209 138);
  }
  
  .allBlogTitle{
      font-weight:bold;
      font-size:30px;
      
  }
  
  .allBlogText{
      display:flex-end;
      overflow-y:hidden;
      margin-top:30px;
  
  }
  
  
  .allBlogText::-webkit-scrollbar {
      display: none;
    }
    
    .allBlogText{
      -ms-overflow-style: none;  
      scrollbar-width: none;  
    }
  
  .dots{
      flex: 0.1;
      display: flex-end;
      flex-direction: column;
      justify-content: end;
      font-size: 20px;
      font-weight: 700;
  }
  
  .allBlogButton{
      background-color: transparent;
      padding: 10px 20px;
      border: 1.5px solid black;
      border-radius: 5px;
      cursor: pointer;
      margin: 20px auto;
  }
  
  .allBlogButton:hover{
      border: 1.5px solid white;
      color:white;
  }
  
  .allBlogButton > a:hover{
      color:white;
  }
  
  