.singleBlog{
    display: flex;
    flex-direction: column;
    height:auto;
    justify-content: space-between;
    margin: 8rem 5rem 3rem 5rem;
    align-items: center;
}

.singleBlogImage{
    width: 100%;
    height:20%;
    margin:0 0 1rem 0;
}

.singleBlogTitleWrapper{
    display:flex;
    align-items:flex-start;
    width:100%;
    flex-direction: column;
}


.singleBogTextWrapper{
    display: flex;
    flex-direction: column;
}


.singleBlogTitle{
    font-size: 50px;
    font-weight: 700;
    margin: 0.2rem 0 ;
}

.singleBlogDateandTime{
    display:flex;
    justify-content: space-between;
    width: 30%;
    margin-bottom:1rem;
    color: rgb(138, 134, 134);
    font-weight:500;
}

.singleBlogText{
  line-height: 1.5rem;
  font-size: 18px;
  text-align: justify;
}