.createSessionWrapper{
display: flex;
margin: 3rem 3rem 3rem 3rem ;
flex-direction: column;
align-items: center;
}

.sessionMenu{
    display: flex;
    margin: auto;
    width: 50%;
    height: 10%;
    font-size: 20px;
    margin-top: 7rem;
}

.createSession, .mySessions{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content:center;
  border:2px solid rgb(183, 177, 177);
  padding:10px;
  border-radius: 8px;
  cursor:pointer
}

.createSessionActive,.mySessionsActive{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:center;
    border:2px solid rgb(247 118 32 / 83%);
    font-weight: 600;
    padding:10px;
    border-radius: 8px;
    cursor:pointer
  }





.createSessionContainer{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-content: center;
    font-size: 16px;
    padding: 0 4rem;
}

.createSessionContainerLeft{
    height: 100%;
    display: flex;
    justify-content: center;
    
}

.createSessionContainerRight{
    display: flex;
}


.formContainer{
        display: flex;
        flex-direction:column;
        width: 80%;
        gap: 1.5rem;
        border-radius:8px;
        box-shadow:0 0 8px 1px rgb(189, 186, 186);
        justify-content:space-between;
        padding:30px;
        
}

.Email,.Name{
    display: none;
}

.SessionCourseName,.SessionLink,.SessionDate,.SessionDuration,.SessionTime, .SessionCategory{
    height: 35px;
    font-size: 16px;
    padding: 5px;
    outline: none;
    border: 1px solid rgb(197, 191, 191);
    border-radius: 5px;
    width: 100%;
}

.SessionTextarea{
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(197, 191, 191);
    font-size: 16px;
    line-height: 1.3rem;
    width: 100%;
}

.formBottom{
    display: flex;
    gap:1rem;
    justify-content: flex-end;
}

.createButton{
    border: 2px solid rgb(50, 95, 50);
    height: 2rem;
    width: 8rem;
    color: rgb(50, 95, 50);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;    
    border-radius: 8px;
    background-color: transparent;
}

.resetButton{
    border: 2px solid rgb(251, 13, 13);
    height: 2rem;
    width: 6rem;
    font-size: 16px;
    color: rgb(251, 13, 13);
    font-weight: bold;
    cursor: pointer;    
    background-color: transparent;
    border-radius: 8px;
}
    
.sessionTiming{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.errorMessage{
    font-size: 12px;
    color:red;
    margin-top:0px;
}

label{
    margin-bottom: -15px;
}

.deleteSession {
    height: 30px;
    width: 30px;
    display: flex;
    align-self: flex-end;
    cursor: pointer;
  }
  
  .deleteSession:hover {
   transform: scale(1.1);
   color: red;
  }