.icon:active {
  color: blue;
}

.allSessionsContainer{
  display: flex;
  margin-top: 6rem;
  padding: 1rem;
  gap: 2rem;
}
.wrapper {
  border: 2px solid black;
  /* background-color: #e7e7e7; */
  overflow-y: scroll;
  display: flex;
  padding: 0.5rem;
  border-radius: 8px;
  height: auto;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  margin: auto auto;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.personalSessionwrapper{
  border: 2px solid black;
  /* background-color: #e7e7e7; */
  /* overflow-y: scroll; */
  display: flex;
  padding: 0.5rem;
  border-radius: 8px;
  height: auto;
  width: 350px;
  flex-direction: column;
  justify-content: center;
  margin: auto auto;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wrapper:hover,.personalSessionwrapper:hover{
  box-shadow: 8px 8px 0px black ; 
  transform: translateY(-5px) translateX(-5px);
}

.wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.skillCategory{
  display: flex;
  flex-direction: column;
  width: 20%;
}

.sessionContainer {
  display: grid;
  gap: 2rem 5rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
  /* width: 80%; */
  padding: 20px;
}

.personalSessionContainer{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
  padding: 20px; 
}

.sessionCourseName {
  font-size: 28px;
  font-weight: 600;
   text-align: center;
}

.sessionMiddle {
  display: flex;
  justify-content: space-evenly;
}

.sessionDuration,
.sessionCategory {
  background-color: #fff;
  color: rgb(247 118 32 / 83%);
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
}

.timeSession {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.timeSessionWrapper {
  display: flex;
  justify-content: space-between;
  /* width: 95%; */
  width: fit-content;
  margin-top: 0.5rem;
}

.sessionDescription,
.sessionDate,
.sessionStartTime {
  /* text-align: justify; */
  margin: 0.5rem;
}

.sessionLink {
  margin: 0.5rem;
  display: flex;
}

.sessionBottom {
  display: flex;
  /* flex-direction: column; */
  width: 55%;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #545454;
  justify-content: space-between;
}

.volunteerPic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid orange;
}

.emptyPersonalSession{
  position: absolute;
  left: 50%;
  right:50%;
  top: 60%;
  bottom:40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyMessage{
  padding: 30px 50px;
  font-size:1.5rem ;
  text-align: center;
  margin-top: 20px;
  border:2px solid grey;
  border-radius:10px;
  width:500px;
}


@media screen and (max-width:1200px) {
  .sessionContainer {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto 2rem auto;
    /* width: 80%; */
    padding: 20px;

  }
}