.personalDetailForm{
    display: flex;
    flex-direction: column;
    width:90%;
    height:100vh;
    justify-content:space-between;
    padding: 10px;
    /* border: 2px solid black; */
    /* box-shadow: inset 1px 1px 15px rgb(189, 187, 187); */
}

.formInput{
    height: 35px;
    font-size: 16px;
    padding: 5px;
    outline: none;
    border: 1px solid rgb(197, 191, 191);
    border-radius: 5px;
    width: 100%;
    
}

.errorMessage{
    color:red;
    font-size:14px;
}


.FormSubmitButton{
    width: 30%;
    height:2.5rem;
    font-size: 15px;
    margin-left:65%;
    background-color:rgb(224, 165, 82,0.55);
    color: black;
    font-weight:bold;
    padding: 5px;    
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 25%);
    /* border:2px solid rgb(224, 165, 82); */
    border:none;
    border-radius:5px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }


.FormSubmitButton:hover{
    background-color: rgb(224, 165, 82);
    transform: scale(1.1);
 }